/* Extra small devices (phones, 600 px and down) */

@media only screen and (max-width:600px){
	
	
}

/* Small devices (potrait tablets and large phones, 600 px and up) */

@media only screen and (min-width:600px){

	
}

/* Medium devices (landscape, tablets, 768 px and up) */

@media only screen and (min-width: 768px){
	

}


/* Large devices(laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px){
	
	
}


/* Extra large devices (large laptops and desktops, 1200 px and up) */

@media only screen and (min-width:1200px){
	
	
}


/* Estils que afecten a tota la pàgina web */

* {
font-family: verdana;
box-sizing:border-box; 
}

/* Estils que afecten a tots els links la pàgina web */

a {
	color:black;
	font-weight:bold;
	color:#024B0F;
}

/* Estils que afecten a totes les imatges de la pàgina web */

img {
	display: block;
	max-width:100%;
	background: white
}

/* Estils que afecten al body (cos) de la pàgina web */

body{
	margin:0px
}

/* Estils que afecten a la classe group */

.group {
	width:100%
	margin:auto;
	background: #B4C9A6 
}

/* Estils que afecten a la classe header (titòls,subtitòls) */

.header {
	background-size:cover;
	background-image: url(../images/IMG_1500.JPG);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:#f8f8ff;
	border: 3px solid #132F02;
	height: 100%;
	width:100%;
	
}
.header h1{
	font-size: 85px;
	text-align: center;
	font-family: "Lora", serif;
	letter-spacing: 1.5px;
	text-shadow: 0.1em 0.1em #333;
}
.header h2{
	font-size: 55px;
	text-align: center;
	font-family: "Lora", serif;
	color:white;
	letter-spacing: 1.5px;
	text-shadow: 0.1em 0.1em #333;
}

/* Estils que afecten a la classe topnav (enllaços, imatge, logo) */

.topnav{
	background:#243E14;
	padding:4px;
	margin-right:auto;
	border: 1px solid #132F02;
	
}

.topnav li a{
	font-size: 20px;
	color:#243E14;
	font-family: "Lora", serif;
	text-decoration:none;
	background:#F3F5D6;
	padding: 4px 20px;
	border-radius:30px;
	margin:10px;
}

.topnav li a:hover, .select{
	background:#243E14;
	color:white;
}

.topnav li {
	list-style:none;
	padding:8px;
	font: bold 18px "Lora", serif;
	display: inline-block;
	text-align: left;
}
 
 .topnav img {
 	border: 2px solid black; float: right;
 	width:70px;
 	height:70px;
 }

.logo{
	width:30%;
	float:right;
}

/* Estils que afecten a tots els h2 de la pàgina web*/

h2 {
	font-size: 55px
	font-weight: bold;
	font-family: "Lora", serif;
	color:black;
	letter-spacing:1.5px;
	text-align:center;
}

/* Estils que afecten a la classe leftcolum*/
 
.leftcolum{
	margin:20px;
	width: 60%;
	float:left;
	line-height:30px;
}

/* Estils que afecten a la classe rightcolum*/

.rightcolum{
	width:35%;
	float:left;
	margin:20px 0px;
	text-align: justify;
	margin-bottom:20px;
	line-height:30px;
	border-radius:40px;
}

.rightcolum h2{
	color:#3B4529;
	font-weight:bold;
}
.rightcolum h3{
	color:#3B4529;
	font-weight:bold;
}

/* Etiquetes que afecten a la seccio 1,2,3,4 i 5*/

.seccio1{
	background:#F3F5D6;
	margin:10px 
	margin-bottom: 15px;
	text-align: justify;
	padding:10px 10px;
	border-radius:40px;
}

.seccio1 h2{
	color:#3B4529;
	font-weight:bold;
}

.seccio2{
	background:#F3F5D6;
	margin:10px
	margin-bottom: 15px;
	text-align: justify;
	padding:10px 10px;
	border-radius:40px;
	margin-top:35px
}

.seccio2 h2{
	color:#3B4529;
	font-weight:bold;
}

.seccio2 li{
	font-size: 18px;
	color:black;
	font-weight:bold;
}

.seccio3{
	background:#F3F5D6;
	margin:10px
	margin-bottom: 15px;
	text-align: justify;
	padding:10px 10px;
	border-radius:40px;
	margin-top:35px
}

.seccio3 h2{
	color:#3B4529;
	font-weight:bold;
}

.seccio3 li{
	list-style:none;
	font-size: 15px;
	text-align:center;
	color:#001B05;
	font-weight:bold;
	padding:8px;
	background:#BFE2AD;
	border-radius:20px;
	letter-spacing:1.5px;
	margin-top:10px;
	
}

.seccio3 table{
	margin: 0 auto;
	 text-align: left;
	 box-sizing:content-box;
}

.seccio4{
	background:#F3F5D6;
	margin:10px;
	margin-bottom: 15px;
	text-align: justify;
	padding:10px 10px;
	border-radius:40px;
	margin-top:20px;
}

.seccio5{
	background:#F3F5D6;
	margin:10px
	margin-bottom: 15px;
	text-align: justify;
	padding:10px 10px;
	border-radius:40px;
	margin-top:71px
}

.seccio5 img{
	padding:5px;
	background:#BFE2AD;
	border-radius:15px;
	letter-spacing:1.5px;
	margin-top:27px
}

/* Estils que afecten al footer*/

.footer{
	clear:both;
	padding:10px 10px;
	background:#333;
	color:#fff;
	text-align:center;
}

.footer [class^="icon-"]{
	font-family: "iconos-de-prova";
	display:inline-block;
	color:#333;
	text-decoration:none;
	font-size:30px;
	padding:10px;
	background: white;
	border-radius:50%;
	width:50px;
	height:50px;
	line-height:40px;
}

 .footer,section{
 	border: 2px solid #737C05;
 	display:block;
 }

.top a{
	font-size: 13px;
	color:white;
	font-weight:bold;
}
